* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.hero {
    background-image: url('hero.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
   
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.content {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}
#testimonials h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #333;
}

#testimonials .card {
    transition: transform 0.3s ease;
}

#testimonials .card:hover {
    transform: translateY(-10px);
}

#testimonials .card-title {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}

#testimonials .card-subtitle {
    font-size: 14px;
    color: #888;
}




#newsletter h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#newsletter p {
    font-size: 18px;
    margin-bottom: 20px;
}

#newsletter .form-control {
    width: auto;
    min-width: 300px;
}

#newsletter button {
    background-color: #508106;
    border-color: #007bff;
}

#newsletter button:hover {
    background-color: #071c31;
}











footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
